* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-image: linear-gradient(rgb(56, 128, 211), rgb(48 ,62, 143));
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    transform: rotateX(10deg);
}

@keyframes rotate {
    0% {transform: rotate(60deg)}
}

.location , .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
}

.degree-section span {
    margin:10px;
    font-size: 30px;
    cursor:pointer;
}

.degree-section h2 {
    font-size: 40px;
}


@keyframes rotate {

}
